  <div class="text-center">
    <div class="mb-4">

         <% if (errorCode == 401) { %>
            <h1 class="display-3 fw-bold text-danger mb-2"> </i><i class="bi bi-clipboard2-x "></i></h1>



    <% } else if (errorCode == 403) { %>
            <h1 class="display-3 fw-bold text-danger mb-2"> </i><i class="bi bi-sign-do-not-enter"></i></h1>


    <% } else if (errorCode == 404) { %>
            <h1 class="display-3 fw-bold text-danger mb-2"> </i><i class="bi bi-bug"></i></h1>


        <% } else { %>
            <h1 class="display-3 fw-bold text-danger mb-2"> </i><i class="bi bi-emoji-frown"></i></h1>
            <% message = "IDK why are you here  SORRRY" %>
        <% } %>

    </div>
    <h1 class="display-3 fw-bold text-danger mb-2"><%= errorCode %></h1>
    <p class="lead mb-4"><%= message %></p>


    <% if (errorCode == 401) { %>
            <a href="/login" class="btn btn-outline-dark">Go to Login page</a>


    <% } else if (errorCode == 403) { %>
            <a href="<%= redirectPath %>" class="btn btn-outline-dark">Go to Back</a>


    <% } else if (errorCode == 404) { %>
            <a href="/dashboard" class="btn btn-outline-dark">Go to Dashboard</a>


        <% } else { %>
            <a href="/dashboard" class="btn btn-outline-dark">Go to Dashboard</a>
        <% } %>
          </div>


